@import "tailwindcss";

:root {
  --background: #f6f3ee;
  --foreground: #1f2937;

  --primary: #f97316;
  --primary-dark: #ea580c;

  --card: #ffffff;
  --border: #e7e5e4;
  --muted: #6b7280;

  --success: #22c55e;
  --warning: #eab308;
  --danger: #f97316;

  --surface-soft: #fff7ed;
  --surface-muted: #fafaf9;

  --font-heading: "Chelsea Market", cursive;
  --font-body: "Livvic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2 {
  font-family: var(--font-heading);
}

.heading-font {
  font-family: var(--font-heading);
  letter-spacing: -0.02em;
}

.body-font {
  font-family: var(--font-body);
}

@keyframes scan {
  0% {
    top: 0%;
  }

  50% {
    top: 95%;
  }

  100% {
    top: 0%;
  }
}

.animate-scan {
  animation: scan 2s linear infinite;
}